In [12]:
import numpy as np
import pandas as pd

In [23]:
df= pd.read_csv('MegaMart_sales.csv')
df.shape

(59, 8)

In [24]:
df_new=pd.read_csv('MegaMart_newsales.csv')
df_new.shape

(9, 8)

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [25]:
#your code here
df = df.append(df_new)
df.shape

(68, 8)

In [27]:
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [28]:
df.groupby(df['Category']=='Office Supplies').agg({'Sales':sum})

          Sales
Category
False     11048
True       7970

In [29]:
df=pd.concat([df,df_new],axis=0,ignore_index=True) 

df.groupby(by='Category').Sales.sum()

Category
Furniture          2748
Office Supplies    8858
Technology         8681
Name: Sales, dtype: int64

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [30]:
#your code here
df.drop_duplicates(inplace = True)
df.shape

(61, 8)

In [35]:
df.groupby('Category').agg({'Sales':sum})
#df['office Supplies']

                 Sales
Category
Furniture         2460
Office Supplies   6964
Technology        7494

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [43]:
#your code here
#new_cat = concat(['Category','Sub-Category'])
most_profit = df.groupby(['Category','Sub-Category']).agg({'Profit':sum}).sort_values(by='Profit',ascending = False)
most_profit.head(1)

                         Profit
Category   Sub-Category
Technology Phones          1618

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [79]:
#your code here
df[(df['Order ID'].str.len())<15].count()

Order ID        7
Product Name    7
Discount        7
Sales           7
Profit          7
Quantity        7
Category        7
Sub-Category    7
dtype: int64

In [80]:
df['Order no']=df['Order ID'].str.split('-')

df['Order no']=df['Order no'].apply(lambda x: x[2])

df['no_of_digits']=df['Order no'].apply(lambda x: len(x))

df['no_of_digits'].value_counts()

7    54
6     7
Name: no_of_digits, dtype: int64

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [63]:
#your code here
top_25 = df.groupby(['Order ID','Category']).agg({'Sales':sum}).sort_values(by ='Sales',ascending= False).head(25).groupby('Category').agg({'Sales':'count'})
#top_25.groupby('Category').agg({'Sales':'count'})
top_25

                 Sales
Category
Furniture            5
Office Supplies     11
Technology           9

In [81]:
df2=df.sort_values(by='Sales', ascending=False)
df2=df2.iloc[:25,]

df2['Category'].value_counts()

Office Supplies    11
Technology          9
Furniture           5
Name: Category, dtype: int64

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [86]:
#your code here

df.drop(['Order no','no_of_digits'],axis = 1)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art
...,...,...,...,...,...,...,...,...
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories
64,AZ-2011-1976919,"Boston Markers, Blue",0.0,132,54,5,Office Supplies,Art
65,AZ-2011-2001312,"Avery Binding Machine, Clear",0.0,97,12,2,Office Supplies,Binders
66,AZ-2011-2002251,"SanDisk Computer Printout Paper, 8.5 x 11",0.0,136,15,4,Office Supplies,Paper
67,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes

In [91]:
df[(df['Sales']>250)&(df['Profit']>50)].sort_values(by='Sales',ascending= False).head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,176674,6
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [ ]:
#your code here